.App {
  text-align: center;
  margin-top: 50px;
}

button {
  max-width: 150px;
  margin: 10px 5px;
}

select {
  width: 100px;
  margin-left: 10px;
}

.aom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
